{% extends 'index.html' %}
{% load static %}


{% block content %}
    <header>
        <nav class="navbar fixed-top navbar-expand-lg bg-white scrolling-navbar">
            <div class="container-fluid">
                <div class="navbar-top d-flex align-items-center justify-content-between w-100">
                    <a href="/" class="navbar-brand waves-effect">Настройки</a>
                    <a href="#" class="bell waves-effect modal-notify-btn" data-mdb-toggle="modal" data-mdb-target="#notificationsModal">
                        <i class="fas fa-bell"></i>
                        <span class="badge rounded-pill badge-notification">3</span>
                    </a>
                </div>
                <div class="navbar-bottom d-flex align-items-center w-100">
                    <p class="card-title">Информация аккаунта</p>
                </div>
            </div>
        </nav>
        {% include 'menu.html' %}
    </header>
    <main class="content">
        <div class="container">
            <div class="row fadeIn">
                <div class="col-md-12">
                    <div class="card settings-top">
                        <div class="card-body d-flex align-items-start">
                            <div class="avatar">LA</div>
                            <div class="settings-top__info">
                                <p class="settings-top__name">{{ request.user.invest_advisor.last_name }} {{ request.user.invest_advisor.first_name }}</p>
                                <p class="settings-top__email">
                                    {{ request.user.invest_advisor.email }}
                                </p>
                                <p class="settings-top__company">
                                    {{ request.user.invest_advisor.company }}
                                </p>
                            </div>
                            <div class="settigs-top__balance ml-auto">
                                <p class="huge-text">$ 232.43</p>
                                <p class="settings-top__caption">
                                    Текущий баланс
                                </p>
                            </div>
                            <div class="settings-top__pay">
                                <p class="middle-text">$ 350</p>
                                <p class="settings-top__caption">
                                    Будущий платеж
                                </p>
                                <p class="settings-top__caption settings-top__caption_last">
                                    12 July 2019
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row fadeIn row_mt-30">
                <div class="col-md-12">
                    <div class="card settings-main">
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <div class="settings-main__wrap d-flex align-items-center justify-content-between">
                                <p class="card-title">Основная информация</p>
                                <button data-mdb-toggle="modal" data-mdb-target="#settingsClientModal" class="btn_off settings-main__edit">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3 18H17C17.2652 18 17.5196 18.1054 17.7071 18.2929C17.8946 18.4804 18 18.7348 18 19C18 19.2652 17.8946 19.5196 17.7071 19.7071C17.5196 19.8946 17.2652 20 17 20H3C2.73478 20 2.48043 19.8946 2.29289 19.7071C2.10536 19.5196 2 19.2652 2 19C2 18.7348 2.10536 18.4804 2.29289 18.2929C2.48043 18.1054 2.73478 18 3 18ZM2 13L12 3L15 6L5 16H2V13ZM13 2L15 0L18 3L15.999 5.001L13 2Z" fill="#2E364A" />
                                    </svg>
                                </button>
                            </div>
                            <div class="settings-main__secondary d-flex align-items-center justify-content-between">
                                <p class="card-title">Пополнение счета</p>
                                <button class="btn_off add-card">Привязать карту</button>
                            </div>
                        </div>
                        <div class="card-body d-flex align-items-start justify-content-between">
                            <div class="settings-main__wrap">
                                <div class="field-row">
                                    <label for="settingsName">Имя</label>
                                    <p>{{ request.user.invest_advisor.first_name }}</p>
                                </div>
                                <div class="field-row">
                                    <label for="settingsSurname">Фамилия</label>
                                    <p>{{ request.user.invest_advisor.last_name }}</p>
                                </div>
                                <div class="field-row">
                                    <label for="settingsEmail">E-mail</label>
                                    <p>{{ request.user.invest_advisor.email }}</p>
                                </div>
                                <div class="field-row">
                                    <label for="settingsCompany">Компания</label>
                                    <p>{{ request.user.invest_advisor.company }}</p>
                                </div>
                                <form action="{% url 'change-pass' %}" method="post">
                                    {% csrf_token %} 
                                    <p class="settings-main__title">Изменить пароль</p>
                                    <div class="field-row">
                                        <label for="settingsOldPass">Старый пароль</label>
                                        <input name="old_password" class="field" id="settingsOldPass" type="password" placeholder="********" >
                                    </div>
                                    <div class="field-row">
                                        <label for="settingsNewPass">Новый пароль</label>
                                        <input name="new_password" class="field" id="settingsNewPass" type="password" placeholder="********">
                                    </div>
                                    <div class="field-row">
                                        <label for="settingsRepeatNewPass">Повторить новый пароль</label>
                                        <input name="new_password2" class="field" id="settingsRepeatNewPass" type="password" placeholder="********" >
                                    </div>
                                    <button type="submit" class="btn btn-primary save-settings">Сохранить</button>
                                </form>
                            </div>
                            <div class="settings-main__secondary">
                                <div class="debit-card">
                                    <div class="debit-card__header d-flex align-items-center">
                                        <p class="debit-card__name">Visa Debit card</p>
                                        <button class="btn_off debit-card__btn ml-auto">Изменить</button>
                                        <button class="btn_off debit-card__btn debit-card__btn_2" data-mdb-toggle="modal" data-mdb-target="#deleteCard">Удалить</button>
                                    </div>
                                    <div class="debit-card__body d-flex align-items-start">
                                        <input type="text" class="field debit-card__field">
                                        <div class="debit-card__holder">
                                            <p class="holder-card"></p>
                                            <p class="number-card">0000 0000 0000 0000</p>
                                        </div>
                                    </div>
                                    <div class="debit-card__footer d-flex">
                                        <p class="debit-card__adress">Адрес</p>
                                        <p class="debit-card__adress">Text Text Text Text Text Text</p>
                                    </div>
                                </div>
                                <div class="field-row">
                                    <label for="settingsMoney">Введите сумму пополнения</label>
                                    <input class="field" id="settingsMoney" type="text" placeholder="1000">
                                </div>
                                <div class="field-row">
                                    <label for="settingsMoneyHow">Выберите способ пополнения</label>
                                    <div class="radio-money d-flex align-items-center">
                                        <input type="radio" name="how-pay" id="howPay1">
                                        <label for="howPay1">
                                            <img src="{% static 'img/visa.png' %}" alt="">
                                        </label>
                                        <input type="radio" name="how-pay" id="howPay2">
                                        <label for="howPay2">
                                            <img src="{% static 'img/sber.png' %}" alt="">
                                        </label>
                                        <input type="radio" name="how-pay" id="howPay3">
                                        <label for="howPay3">
                                        </label>
                                        <input type="radio" name="how-pay" id="howPay4">
                                        <label for="howPay4">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Modals -->
    <div class="modal fade" id="notificationsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-this" data-mdb-dismiss="modal" aria-label="Close">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L1.70711 0.292893ZM16.2929 17.7071C16.6834 18.0976 17.3166 18.0976 17.7071 17.7071C18.0976 17.3166 18.0976 16.6834 17.7071 16.2929L16.2929 17.7071ZM17.7071 1.70711C18.0976 1.31658 18.0976 0.683417 17.7071 0.292893C17.3166 -0.0976311 16.6834 -0.0976311 16.2929 0.292893L17.7071 1.70711ZM0.292893 16.2929C-0.0976311 16.6834 -0.0976311 17.3166 0.292893 17.7071C0.683417 18.0976 1.31658 18.0976 1.70711 17.7071L0.292893 16.2929ZM0.292893 1.70711L16.2929 17.7071L17.7071 16.2929L1.70711 0.292893L0.292893 1.70711ZM16.2929 0.292893L0.292893 16.2929L1.70711 17.7071L17.7071 1.70711L16.2929 0.292893Z" fill="#2E364A" />
                    </svg>
                </div>
                <div class="modal-header">
                    <div class="d-flex align-items-center">
                        <h3 class="card-title">Уведомления</h3>
                        <div class="dropdown ml-auto modal__dropdown">
                            <button class="signals__sort-btn dropdown-toggle" type="button" id="dropdownMenuButton" data-mdb-toggle="dropdown" aria-expanded="false">
                                Сортировать
                                <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1L5.5 6L7.75 3.5L10 1" stroke="#2E364A" />
                                </svg>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="#">1</a></li>
                                <li><a class="dropdown-item" href="#">2</a></li>
                                <li><a class="dropdown-item" href="#">3</a></li>
                            </ul>
                        </div>
                    </div>
                    <ul class="nav nav-tabs modal__tabs" id="ex1" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link waves-effect" id="ex1-tab-1" data-mdb-toggle="tab" href="#ex1-tabs-1" role="tab" aria-controls="ex1-tabs-1" aria-selected="true">Новый</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link waves-effect active" id="ex1-tab-3" data-mdb-toggle="tab" href="#ex1-tabs-3" role="tab" aria-controls="ex1-tabs-3" aria-selected="false">Все</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link waves-effect" id="ex1-tab-2" data-mdb-toggle="tab" href="#ex1-tabs-2" role="tab" aria-controls="ex1-tabs-2" aria-selected="false">Прочитаный</a>
                        </li>
                    </ul>
                    <div class="long-search">
                        <input type="search" id="form1" class="form-control" placeholder="Выбрать">
                        <svg class="search-icon" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14 14L11.0093 11.004L14 14ZM12.6666 7.00001C12.6666 8.5029 12.0696 9.94424 11.0069 11.0069C9.94421 12.0697 8.50287 12.6667 6.99998 12.6667C5.49709 12.6667 4.05575 12.0697 2.99304 11.0069C1.93034 9.94424 1.33331 8.5029 1.33331 7.00001C1.33331 5.49712 1.93034 4.05578 2.99304 2.99307C4.05575 1.93037 5.49709 1.33334 6.99998 1.33334C8.50287 1.33334 9.94421 1.93037 11.0069 2.99307C12.0696 4.05578 12.6666 5.49712 12.6666 7.00001V7.00001Z" stroke="#2E364A" stroke-width="2" stroke-linecap="round"></path>
                        </svg>
                    </div>
                    <p class="signals__date modals-notify__date">October 03, 2019 </p>
                </div>
                <div class="modal-body">
                    <div class="signal signal-new">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="badge bg-danger">
                                Новый
                            </div>
                            <p class="signal__date">
                                <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g opacity="0.3">
                                        <path d="M5 0.625C2.58398 0.625 0.625 2.58398 0.625 5C0.625 7.41602 2.58398 9.375 5 9.375C7.41602 9.375 9.375 7.41602 9.375 5C9.375 2.58398 7.41602 0.625 5 0.625ZM5 8.63281C2.99414 8.63281 1.36719 7.00586 1.36719 5C1.36719 2.99414 2.99414 1.36719 5 1.36719C7.00586 1.36719 8.63281 2.99414 8.63281 5C8.63281 7.00586 7.00586 8.63281 5 8.63281Z" fill="#2D3C64"></path>
                                        <path d="M6.70605 6.23633L5.31348 5.22949V2.8125C5.31348 2.76953 5.27832 2.73438 5.23535 2.73438H4.76563C4.72266 2.73438 4.6875 2.76953 4.6875 2.8125V5.50195C4.6875 5.52734 4.69922 5.55078 4.71973 5.56543L6.33496 6.74317C6.37012 6.76856 6.41895 6.76074 6.44434 6.72656L6.72363 6.3457C6.74902 6.30957 6.74121 6.26074 6.70605 6.23633Z" fill="#2D3C64"></path>
                                    </g>
                                </svg>
                                Today, July 12, 2019, 11:36 AM
                            </p>
                        </div>
                        <div class="signal__content">
                            <h3 class="signal__title">Distribution Request Processed</h3>
                            <p class="signal__text">Your saved portfolio for Client X(Mr Smith) has been waiting for more than 14 days. This portfolio will be automatically deletsd after 15 days unless it is refreshed or executed </p>
                        </div>
                        <div class="signal__footer">
                            <div class="author">
                                <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.833333 10C0.833333 10 0 10 0 9.16667C0 8.33333 0.833333 5.83333 5 5.83333C9.16667 5.83333 10 8.33333 10 9.16667C10 10 9.16667 10 9.16667 10H0.833333ZM5 5C5.66304 5 6.29893 4.73661 6.76777 4.26777C7.23661 3.79893 7.5 3.16304 7.5 2.5C7.5 1.83696 7.23661 1.20107 6.76777 0.732233C6.29893 0.263392 5.66304 0 5 0C4.33696 0 3.70107 0.263392 3.23223 0.732233C2.76339 1.20107 2.5 1.83696 2.5 2.5C2.5 3.16304 2.76339 3.79893 3.23223 4.26777C3.70107 4.73661 4.33696 5 5 5V5Z" fill="#A5A8C3"></path>
                                </svg>
                                Craig Gordon
                            </div>
                            <div class="d-flex signal__bottom align-items-center justify-content-between">
                                <div class="signal__note">
                                    <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="7" height="8" rx="1" fill="#A5A8C3"></rect>
                                    </svg>
                                    Portfolio: Craig Gordon Investment Portfolio
                                </div>
                                <div class="signal-bottom__buttons">
                                    <button class="btn_off already-read">Прочитано</button>
                                    <a href="#" class="open-potfolio">Открыть портфель</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="signal signal-new">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="badge bg-danger">
                                Новый
                            </div>
                            <p class="signal__date">
                                <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g opacity="0.3">
                                        <path d="M5 0.625C2.58398 0.625 0.625 2.58398 0.625 5C0.625 7.41602 2.58398 9.375 5 9.375C7.41602 9.375 9.375 7.41602 9.375 5C9.375 2.58398 7.41602 0.625 5 0.625ZM5 8.63281C2.99414 8.63281 1.36719 7.00586 1.36719 5C1.36719 2.99414 2.99414 1.36719 5 1.36719C7.00586 1.36719 8.63281 2.99414 8.63281 5C8.63281 7.00586 7.00586 8.63281 5 8.63281Z" fill="#2D3C64"></path>
                                        <path d="M6.70605 6.23633L5.31348 5.22949V2.8125C5.31348 2.76953 5.27832 2.73438 5.23535 2.73438H4.76563C4.72266 2.73438 4.6875 2.76953 4.6875 2.8125V5.50195C4.6875 5.52734 4.69922 5.55078 4.71973 5.56543L6.33496 6.74317C6.37012 6.76856 6.41895 6.76074 6.44434 6.72656L6.72363 6.3457C6.74902 6.30957 6.74121 6.26074 6.70605 6.23633Z" fill="#2D3C64"></path>
                                    </g>
                                </svg>
                                Today, July 12, 2019, 11:36 AM
                            </p>
                        </div>
                        <div class="signal__content">
                            <h3 class="signal__title">Distribution Request Processed</h3>
                            <p class="signal__text">Your saved portfolio for Client X(Mr Smith) has been waiting for more than 14 days. This portfolio will be automatically deletsd after 15 days unless it is refreshed or executed </p>
                        </div>
                        <div class="signal__footer">
                            <div class="author">
                                <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.833333 10C0.833333 10 0 10 0 9.16667C0 8.33333 0.833333 5.83333 5 5.83333C9.16667 5.83333 10 8.33333 10 9.16667C10 10 9.16667 10 9.16667 10H0.833333ZM5 5C5.66304 5 6.29893 4.73661 6.76777 4.26777C7.23661 3.79893 7.5 3.16304 7.5 2.5C7.5 1.83696 7.23661 1.20107 6.76777 0.732233C6.29893 0.263392 5.66304 0 5 0C4.33696 0 3.70107 0.263392 3.23223 0.732233C2.76339 1.20107 2.5 1.83696 2.5 2.5C2.5 3.16304 2.76339 3.79893 3.23223 4.26777C3.70107 4.73661 4.33696 5 5 5V5Z" fill="#A5A8C3"></path>
                                </svg>
                                Craig Gordon
                            </div>
                            <div class="d-flex signal__bottom align-items-center justify-content-between">
                                <div class="signal__note">
                                    <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="7" height="8" rx="1" fill="#A5A8C3"></rect>
                                    </svg>
                                    Portfolio: Craig Gordon Investment Portfolio
                                </div>
                                <div class="signal-bottom__buttons">
                                    <button class="btn_off already-read">Прочитано</button>
                                    <a href="#" class="open-potfolio">Открыть портфель</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade usual-template-modal" id="settingsClientModal" data-mdb-backdrop="static" data-mdb-keyboard="false" tabindex="-1" aria-labelledby="settingsClientModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header d-flex align-items-center justify-content-start">
                    <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13 0H3C2.33696 0 1.70107 0.263392 1.23223 0.732233C0.763392 1.20107 0.5 1.83696 0.5 2.5V17.5C0.5 18.163 0.763392 18.7989 1.23223 19.2678C1.70107 19.7366 2.33696 20 3 20H13C13.663 20 14.2989 19.7366 14.7678 19.2678C15.2366 18.7989 15.5 18.163 15.5 17.5V2.5C15.5 1.83696 15.2366 1.20107 14.7678 0.732233C14.2989 0.263392 13.663 0 13 0V0ZM11.75 8.75C11.75 9.74456 11.3549 10.6984 10.6517 11.4017C9.94839 12.1049 8.99456 12.5 8 12.5C7.00544 12.5 6.05161 12.1049 5.34835 11.4017C4.64509 10.6984 4.25 9.74456 4.25 8.75C4.25 7.75544 4.64509 6.80161 5.34835 6.09835C6.05161 5.39509 7.00544 5 8 5C8.99456 5 9.94839 5.39509 10.6517 6.09835C11.3549 6.80161 11.75 7.75544 11.75 8.75ZM8 13.75C11.2787 13.75 13.1825 14.7825 14.25 15.9438V17.5C14.25 17.8315 14.1183 18.1495 13.8839 18.3839C13.6495 18.6183 13.3315 18.75 13 18.75H3C2.66848 18.75 2.35054 18.6183 2.11612 18.3839C1.8817 18.1495 1.75 17.8315 1.75 17.5V15.9438C2.8175 14.7812 4.72125 13.75 8 13.75Z" fill="#0068FC" />
                    </svg>
                    <p class="modal-title">Данные пользователя</p>
                </div>
                <form action="." method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="modal-wrap-400">
                        <div class="field-row">
                            <label for="settingsClientName">Имя</label>
                            <input name="first_name" class="field" id="settingsClientName" type="text" value="{{ request.user.invest_advisor.first_name }}">
                        </div>
                        <div class="field-row">
                            <label for="settingsClienDesc">Фамилия</label>
                            <input name="last_name" class="field" id="settingsClientDate" type="text" value="{{ request.user.invest_advisor.last_name }}">
                        </div>
                        <div class="field-row">
                            <label for="settingsClientDate">Email</label>
                            <input name="email" class="field" id="settingsClientDate" type="text" value="{{ request.user.invest_advisor.email }}">
                        </div>
                        <div class="field-row">
                            <label for="settingsClientPension">Компания</label>
                            <input name="company" class="field" id="settingsClientPension" type="text" value="{{ request.user.invest_advisor.company }}">
                        </div>
                    <div class="case-btns">
                        <button type="submit" class="btn btn-primary modal-main-btn">Изменить информацию</button>
                        <button class="btn_off btn-type-link" data-mdb-dismiss="modal">Отмена</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade save-bag-as-draft" id="deleteCard" tabindex="-1" aria-labelledby="deleteCard" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header d-flex align-items-center justify-content-start">
                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.62476 1.58377C10.0052 0.895352 10.9948 0.895352 11.3752 1.58377L20.1801 17.5163C20.5484 18.1828 20.0663 19 19.3048 19H1.69517C0.933678 19 0.451607 18.1828 0.819932 17.5163L9.62476 1.58377Z" fill="#0068FC" />
                        <path d="M11.3359 13.6484H9.70312L9.52344 5.625H11.5234L11.3359 13.6484ZM9.46875 16.1016C9.46875 15.8047 9.5651 15.5599 9.75781 15.3672C9.95052 15.1693 10.2135 15.0703 10.5469 15.0703C10.8802 15.0703 11.1432 15.1693 11.3359 15.3672C11.5286 15.5599 11.625 15.8047 11.625 16.1016C11.625 16.388 11.5312 16.6276 11.3438 16.8203C11.1562 17.013 10.8906 17.1094 10.5469 17.1094C10.2031 17.1094 9.9375 17.013 9.75 16.8203C9.5625 16.6276 9.46875 16.388 9.46875 16.1016Z" fill="white" />
                    </svg>
                    <p class="modal-title">Удалить карту?</p>
                </div>
                <div class="modal-body">
                    <p class="modal-medium-text">Если вы удалите привязанную карту, то вы больше не сможете в автоматическом режиме продлять подписку на актуальные инвестиционные портфели.</p>
                    <div class="case-btns">
                        <button class="btn btn-primary">Удалить карту</button>
                        <button class="btn btn_off btn-type-link" data-mdb-dismiss="modal">Отмена</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}