{% extends "index.html" %}

<!-- <h1>Reset your password</h1>
<p>Please enter your new password twice:</p>
<form action="." method="post">
{{ form.as_p }}
{% csrf_token %}
<p><input type="submit" value="Change my password" /></p>
</form>
<p>The password reset link was invalid, possibly because it
has already been used. Please request a new password reset.</p>

 -->
{% block content %}
{% load static %}
    <!-- Start your project here-->
    <div class="login-bg-gray">
        <div class="login-block">
            <a href="index.html" class="logo-link">
                <img src="{% static 'img/logo.png' %}" alt="Logotype">
            </a>
            {% if validlink %}
            <form class="login-box" action="." method="post">
            	{% csrf_token %}

                <p class="login-box__title">Сброс пароля</p>
                <p class="login-box__text">Пожалуйста, введите свой новый пароль дважды:</p>
                <div class="field-row">
					<p>
						<label for="id_new_password1">Новый пароль:</label>
						<input style="margin-bottom: 20px;" class="field" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
						{% if form.errors %}
						<span class="helptext">
							<ul style="font-size: 12px; list-style-type: disc; color: red; padding: 15px;">
								<li>Ваш пароль не может быть слишком похож на вашу другую личную информацию.</li>
								<li>Ваш пароль должен содержать не менее 8 символов.</li>
								<li>Ваш пароль не может быть слишком простым.</li>
								<li>Ваш пароль не может полностью состоять из чисел.</li>
							</ul>
						</span>
						{% endif %}
					</p>
					<p>
						<label for="id_new_password2">Подтверждение нового пароля:</label>
						<input class="field" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
					</p>
                </div>
                <button class="btn btn-primary waves-effect w-100">Сбросить пароль</button>
            </form>
            {% else %}
				<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
			{% endif %}
                <div class="have-account d-flex align-items-center justify-content-center">
                    <span>Вернуться к странице</span>
                    <a href="/" class="login-link">входа</a>
                </div>
        </div>
    </div>
{% endblock %}