{% extends "index.html" %}

{% block content %}
{% load static %}
    <!-- Start your project here-->
    <div class="login-bg-gray">
        <div class="login-block">
            <a href="index.html" class="logo-link">
                <img src="{% static 'img/logo.png' %}" alt="Logotype">
            </a>
                <h1 class="login-box__title">Пароль установлен.</h1>
                <p class="login-box__text">Ваш пароль установлен. Вы можете<a href="/"> войти сейчас </a></p>
        </div>
    </div>
{% endblock %}
