{% extends "index.html" %}

{% block content %}
{% load static %}
    <!-- Start your project here-->
    <div class="login-bg-gray">
        <div class="login-block">
            <a href="index.html" class="logo-link">
                <img src="{% static 'img/logo.png' %}" alt="Logotype">
            </a>
            <form class="login-box" action="." method="post">
            	{% csrf_token %}
                <p class="login-box__title">Сброс пароля</p>
                <p class="login-box__text">Введите свой адрес электронной почты,
                    и мы отправим вам инструкции по установке пароля.</p>
                <div class="field-row">
                    <p>
                    	<label for="id_email">Email:</label>
                    	<input class="field" type="email" name="email" autocomplete="email" maxlength="254" required id="id_email">
                    </p>
                </div>
                <button class="btn btn-primary waves-effect w-100">Сбросить пароль</button>
                <div class="have-account d-flex align-items-center justify-content-center">
                    <span>Вернуться к странице</span>
                    <a href="/" class="login-link">входа</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}