{% extends "index.html" %}

{% block content %}
{% load static %}
    <!-- Start your project here-->
    <div class="login-bg-gray">
        <div class="login-block">
            <a href="index.html" class="logo-link">
                <img src="{% static 'img/logo.png' %}" alt="Logotype">
            </a>
                <h1 class="login-box__title">Сброс пароля</h1>
                <p class="login-box__text">Мы отправили вам по электронной почте инструкции по установке пароля.</p>
                <p class="login-box__text">Если вы не получили электронное письмо, убедитесь, что вы
ввели адрес, на который вы зарегистрировались.</p>
                <div class="have-account d-flex align-items-center justify-content-center">
                    <span>Вернуться к странице</span>
                    <a href="/" class="login-link">входа</a>
                </div>
        </div>
    </div>
{% endblock %}
